<%= javascript_include_tag 'pc/index'%>

<%= stylesheet_link_tag  'pc/account'%>

<script language="javascript">
function chkSubmit() {
    if ($("#OldPassword").val() == "")
    {
        alert("请输入旧密码！");
        return false;
    }

    if ($("#Password").val() == "")
    {
        alert("请输入密码！");
        return false;
    }

    if ($("#ConfirmPassword").val() != $("#Password").val())
    {
        alert("两次密码不一致！");
        return false;
    }
    $("#thooi").submit();
}
</script>

<div class="my_account w990">
  <div class="trade_t">
    <h3>我的账户</h3>
  </div>
  <div class="trade_b clearfix">
    <%= render 'shared/users_subnav' %>
    <%= form_tag '/my/update_password', method: 'put', id: 'thooi' do %>
      <div class="user_mes left">
        <div class="title" style="height:57px;">
          <h3><span>我的进货宝</span>&nbsp;>修改密码</h3>
        </div>
        <% flash.each do |type, message| %>
          <% unless message.blank? %>
            <div class="alert <%= twitterized_type(type) %> fade in text-center">
              <%= message %>
            </div>
          <% end %>
        <% end %>
      <div class="user_password">
        <!-- <h3>修改密码</h3> -->
        <ul class="pwd_top">
          <li>
          <span class="txt"><i>*</i>旧密码</span>
          <input type="password" id="OldPassword" name="user[old_password]">
          </li>

          <li>
          <span class="txt"><i>*</i>新密码</span>
          <input type="password" id="Password" name="user[Password]"/>
          </li>

          <li>
          <span class="txt"><i>*</i>确认密码</span>
          <input type="password" id="ConfirmPassword" name="user[password_confirmation]"/>
          </li>

          <li class="pad65 btn"><input id="Save" type="button" value="修改密码" onclick="return chkSubmit();"/></li>
          <li class="wrong"><%= flash[:error]%></li>
        </ul>
      </div>
    </div>
  <% end %>
  </div>
</div>
