<!-- <a name="top"></a> -->
<% all_cities = City.all_cities %>
<div class="header gray_bg">
    <div class="head_top" style="background:#e8e9e9;">
        <div class="head_top_box clearfix">
            <div class="left head-top-left">
                <div class="select-area top-first-nav">
                    <div class="top-show"><a href="javascript:;" id="selected-cont"><b></b></a></div>
                    <div class="allArea-box top-second-nav">
                        <h6>送货城市</h6>
                        <div class="city-box clearfix">
                            <% all_cities.each_with_index do |city, index| %>
                            <a href="javascript:void(0);"><%= city.CityName %></a>
                            <% end %>
                        </div>
                        <h6>选择地区</h6>
                        <div class="county-box">
                            <% all_cities.each_with_index do |city, index| %>
                            <div class="hidden clearfix">
                                <% city.counties.each do |county| %>
                                <a href="javascript:;" data-city-id="<%= city.ID %>" data-company-id="<%= city.CompanyID %>" data-county-id="<%= county.ID %>"><%= county.CountyName %></a>
                                <% end %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="bor"></div>
                </div>
            </div>
            <div class="right-box right">
                <%= render 'shared/logon' %>
                <!-- <li style="margin-top:0px;" class="app_down">APP下载
                   <i></i>
                   <div class="code_box"></div>
                </li> -->
                <!-- <li style="margin-top:0px;">客服中心热线：010-67832728</li> -->
                <ul class="right function-box">
                <li><a href="/my/orders" class="my-orders">我的订单</a></li>
                <li><a href="/carts" class="my-carts">我的购物车</a></li>
                <li class="my_bao top-first-nav">
                    <div class="my_bao_top top-show">
                        <a href="/my/orders" class="my_bao_a">我的进货宝<b></b></a>
                    </div>
                    <div class="text_box top-second-nav">
                        <ul>
                            <!-- <li><a href="/my/orders">我的订单</a></li> -->
                            <!-- <li><a href="/my/favorites">我的收藏夹</a></li> -->
                            <li><a href="/my/coupons">我的优惠券<span style="display: none;">1</span></a></li>
                            <li><a href="/my/coupons">我的钱包</a></li>
                            <li><a href="/my/integral">我的积分</a></li>
                            <li><a href="/my/info">我的资料</a></li>
                            <li><a href="/my/password">修改密码</a></li>
                            <li><a href="/my/address">我的收货地址</a></li>
                        </ul>
                    </div>
                    <div class="bor"></div>
                </li>
                <!-- <li class="collect">
                    <% enshrines = sign_in? ? current_user.enshrines.includes(:product => [:product_imgs]) : [] %>
                    <div class="collect_top">
                        <a href="/my/favorites" class="collent_a"><i class="url btn_b"></i>收藏夹 <%= enshrines.count %> 件<b class="url"></b></a>
                    </div>
                    <div class="car_box">
                        <h3>最近加入的宝贝</h3>
                        <div class="pro_list">
                        </div>
                        <div class="btn">
                            <a href="/my/favorites"><input type="button" value="查看我的收藏夹" /></a>
                            <div class="border_02"></div>
                        </div>
                    </div>
                    <div class="bord"></div>
                </li> -->
                <li class="top-first-nav">
                    <div class="top-show">
                        <a href="" class="my-server">客户服务<b></b></a>
                    </div>
                    <div class="text_box top-second-nav">
                        <ul>
                            <li><a href="/common/guide">帮助中心</a></li>
                            <li><a href="javascript:;" class="server-talk">联系客服</a></li>
                            <!-- <li><a href="#">意见反馈</a></li> -->
                        </ul>
                    </div>
                    <div class="bor"></div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="login_title">
    <div class="login_top w1080 clearfix">
        <h1 class="left"><a href="/"><%= image_tag 'index/logox.png'%></a></h1>
        <div class="wrods left">
            <%= image_tag 'index/words.png'%>
        </div>

        <div class="search_box left clearfix">
            <div class="search clearfix">
                <div class="search_cont left clearfix">
                    <button type="button" onclick="window.location = '/products?q=' + encodeURI($('#search').val());" class="magnifier left"></button>
                    <input name="search" id="search" type="text" class="combobox_input left" value="金泸州" onfocus="if (this.value == '金泸州') this.value = '';" onblur="    if (this.value == '') this.value = '金泸州';">
                </div>
                <button onclick="window.location = '/products?q=' + encodeURI($('#search').val());" type="button" class="usepng left">搜索</button>
            </div>
            <ul class="hot_query clearfix">
                <li style="" class="left hot_query_title">热搜：</li>
                <li style=";" class="left">
                  <a href="/products?q=<%= URI.encode '泸州老窖'%>">泸州老窖</a>
                </li>
                <li style="" class="left">
                    <a href="/products?q=<%= URI.encode '红牛'%>">红牛</a>
                </li>
                <li style="" class="left">
                    <a href="/products?q=<%= URI.encode '旺旺'%>">旺旺</a>
                </li>
                <li style="" class="left">
                    <a href="/products?q=<%= URI.encode '香飘飘'%>">香飘飘</a>
                </li>
                <li style="" class="left">
                    <a href="/products?q=<%= URI.encode '康师傅'%>">康师傅</a>
                </li>
                <li style="" class="left">
                    <a href="/products?fid=9e5ee1a6-aca4-4635-9c87-836c3e365ff6">日化</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

 $(function () {

    $("#search").keydown(function (event_e) {
            if (window.event)
                event_e = window.event;
            var int_keycode = event_e.charCode || event_e.keyCode;
            if (int_keycode == 13) {
                try {
                   window.location = '/products?q=' + encodeURI($('#search').val());
                } finally {

                }
            }
        });

    $(".collect").mouseenter(function (event) {
            $.ajax({
                cache: false,
                dataType: "json",
                type: 'Get',
                url: "/enshrines",
                success: function (e) {
                    if (e.status == 'ok') {
                        CreateListEnshrines(e.data);
                    }
                },
                error: function (e) {
                    alert(e);
                }
            });

            event.stopPropagation();
        });
    $(".city-box>a").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
        $(".county-box>div").hide();
        $(".county-box>div").eq($(this).index()).show();
    })
    $(".county-box a").click(function(){
        $(".county-box a").removeClass("active");
        $(this).addClass("active");
        $(".allArea-box").hide();
        $(".select-area span").css({"background-color":"transparent","border-color":"transparent"});

        var index = $(this).parent().index();
        var _this = $(this);
        var val=_this.text();
        var data = _this.data();
        var company = data.companyId;
        var countyId = data.countyId;
        var cityId = data.cityId
        var cityname = $(".city-box a").eq(index).text();
        $.cookie('county', val, { expires: 365 , path: '/'});
        $.cookie('company_id', company, { expires: 365 , path: '/'});
        $.cookie('city_id', cityId, { expires: 365 , path: '/'});
        $.cookie('county_id', countyId, { expires: 365 , path: '/'});
        $.cookie("cityname" ,cityname,{ expires: 365 , path: '/'});
        $('#selected-cont').html(cityname + " " + val + "<b></b>");
        setTimeout(window.location.reload(),0);
    })
    // 头部二级菜单的显示隐藏 公共方法
    $(".top-first-nav").mouseenter(function(){
      // $(this).children().eq(0).find("a").toggleClass("my_dv_hover");
      $(this).css("background-color","#fff");
      $(this).children(".top-second-nav").show();
      $(this).children(".bor").show();
      $(this).find("b").css("transform","rotate(180deg)")
      if($(this).find(".city-box").length != 0){
        var str = decodeURI($.cookie("cityname"));
        $(this).find(".city-box a:contains("+ str +")").click();
      }

    })
    $(".top-first-nav").mouseleave(function(){
      // $(this).children().eq(0).find("a").toggleClass("my_dv_hover");
      $(this).css("background-color","transparent");
      $(this).children(".top-second-nav"). hide();
      $(this).children(".bor").hide();
      $(this).find("b").css("transform","rotate(0)")
    })
    //
    var cookie = $.cookie('cityname') + " " + $.cookie('county');
    $('#selected-cont').html(cookie + "<b></b>");

    // 头部最后一个二级菜单靠右显示不超出
    if($(".head_top_box .right>li:last").hasClass("top-first-nav")){
      $(".head_top_box .right>li:last .text_box").css({"left":"auto","right":"-1px"});
    }
})

   function CreateListEnshrines(data) {
        var arr = new Array();
        console.log(data.enshrines_list);
        enshrines_list = data.enshrines_list
        var countE=0;
        for (var i = 0; i < enshrines_list.length; i++) {
            arr.push("<div class=\"clearfix pro_class\" id=\"collect-"+enshrines_list[i].id+"\">");
            arr.push("<a href=\"/products/" + enshrines_list[i].product_id + "\"><img width=\"55\" height=\"63\" src=\"" + enshrines_list[i].product_img + "\" alt=\"商品\">");
            arr.push(" <span class=\"sp_t\">"+enshrines_list[i].product_name+"</span></a>");
            arr.push(" <div class=\"price\">");
            arr.push(" <span><i>&yen;"+enshrines_list[i].product_price+"</i></span>");
            arr.push(" <a href=\"javascript:DCollect('"+ enshrines_list[i].id+"')\" class=\"delete\">删除</a>");
            arr.push("</div></div>");
            countE=countE+1;
        }
        $(".collent_a").empty();
        $(".collent_a").append("<i class=\"url btn_b btn_t\"></i>收藏夹 "+countE+" 件<b class=\"url\"></b>");
        $(".pro_list").empty();
        $(".pro_list").html(arr.join(""));
    }

  function DCollect(id) {

      $.ajax({
          cache: false,
          dataType: "json",
          type: 'DELETE',
          url: "/enshrines/"+id,
          success: function (e) {

              if (e.error_code == 'IsNotVerified') {
                  window.location = "/user/login";
              }

              if (e.status == 'ok') {
                  $('#collect-'+id).remove();
              }
          },
          error: function (e, index) {
              alert(e);
          }
      });
  }
</script>
