<% content_for :head do %>
<style>html{background-color: #f4f4f4;}</style>
<% end %>

<% content_for :header do %>
<header class="no-search clearfix posi">
  <% if cookies['company_id'] %>
    <div class="header-left">
      <a href="javascript:goBack()" id="back">
        <!-- <%= image_tag "mobile/base/back.svg" %> -->
      </a>
    </div>
  <% end %>
  <!--  -->
  <div class="ordersHeader_title">定位</div>
</header>
<% end %>

<div class="location-counties">
  <% counties = current_user.addresses.includes(:county => [:city]).map{|address| address.county}.compact.uniq %>
  <% counties.each do |county| %>
      <div class="location-county-wrapper <%= 'long' if county.CountyName.size > 4 %>">
        <a href="javascript:;" class="location-county-item" data-city-id="<%= county.city.ID %>" data-company-id="<%= county.city.CompanyID %>" data-county-id="<%= county.ID %>">
          <%= county.CountyName %>
          <em></em>
        </a>
      </div>
  <% end %>

</div>


<script type="text/javascript">
var returnTo = '<%= session[:return_to] %>';
</script>
<% content_for :footer do %>&nbsp;<% end %>
<%= javascript_include_tag 'location', 'data-turbolinks-track' => true %>
