<%= stylesheet_link_tag  'pc/help_center'%>

    <div class="top-img about-us">
        <div class="shadow"></div>
        <div class="text-box w1200">
            <p class="big">我们还在快速成长</p>
            <p class="small">快消品一站式采购平台</p>
        </div>
    </div>
    <div class="about">
        <div class="item jianjie">
            <div class="w1200">
                <h2>
                    <span class="cn-title">公司简介</span><br><span class="en-title">Company Profile</span>
                </h2>
                <div class="item-cont clearfix">
                    <div class="img-box">
                         <%= image_tag "newPC/about_us/baoye.png" + image_webp%>
                    </div>
                    <div class="text">
                        <p>进货宝是一个专注“互联网+”渠道运营的移动社区商业B2B采购平台，是一个商务服务平台，是社区商业的伙伴平台。致力于直接链接品牌厂商和亿万社区小微商家，利用移动互联网技术，实现对传统流通领域的深刻变革，生产要素的高效重组。进货宝由两大核心、三大生态构成。两大核心：大数据能力和品牌能力；三大生态：智能物流生态、互联网金融生态和软件服务生态。</p>
                        <p>进货宝隶属于大卫之选信息技术（北京）股份有限公司（证券代码：834211 证券简称：大卫之选）。其兄弟单位还包括自有品牌大卫之选食品、线下体验店大卫之选咖啡馆</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item w1200 licheng">
            <h2>
                <span class="cn-title">发展历程</span><br><span class="en-title">Development History</span>
            </h2>
            <div class="item-cont">
                <div class="position-img">
                    <%= image_tag "newPC/about_us/position_img.png" + image_webp%>
                </div>
                <div class="year-box">
                    <div class="year"><span>2016年</span></div>
                    <dl class="month-box clearfix ">
                        <dt>1月</dt>
                        <dd>IOS版产品登录AppStore.</dd>
                        <dd>进货宝启动"中国合伙人计划".</dd>
                        <dd>完成第一轮定增,3840万元.</dd>
                    </dl>
                </div>
                <div class="year-box">
                    <div class="year"><span>2015年</span></div>
                    <dl class="month-box clearfix ">
                        <dt>12月</dt>
                        <dd>进货宝月交易额首次突破2000万.</dd>
                    </dl>
                    <dl class="month-box clearfix ">
                        <dt>11月</dt>
                        <dd>进货宝安卓版APP上线.</dd>
                        <dd>进货宝大兴仓库投入运营.</dd>
                        <dd>进货宝母公司新三板上市.(证券代码：834211 证券简称：大卫之选)</dd>
                    </dl>
                    <dl class="month-box clearfix ">
                        <dt>10月</dt>
                        <dd>进货宝与上百家品牌厂商达成战略合作协议.</dd>
                        <dd>进货宝北京市昌平仓库正式投入运营.</dd>
                        <dd>进货宝平台正式上线.</dd>
                    </dl>
                    <dl class="month-box clearfix ">
                        <dt>9月</dt>
                        <dd>进货宝平台网站ICP备案成功.</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="item wenhua">
            <div class="w1200">
                <h2>
                    <span class="cn-title">企业文化</span><br><span class="en-title">Corporate Culture</span>
                </h2>
                <div class="item-cont clearfix">
                    <div class="img-box">
                         <%= image_tag "newPC/about_us/wenhua.png" + image_webp%>
                    </div>
                    <div class="text">
                        <p>进货宝的使命和价值观：“你服务社区，我服务你”。进货宝相信互联网精神是让所有人拥有获得知识和信息的平等权利。创造“进货宝”平台也是为了帮助那些在移动互联网时代可能没有获得效益的社区小微商家，帮助他们获取信息权益和时代红利，让他们继续服务于社区和公众。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item w1200 nengli">
            <h2>
                <span class="cn-title">核心能力</span><br><span class="en-title">Core Competence</span>
            </h2>
            <div class="item-cont">
                <h3>进货宝的核心竞争优势总结来说有两点，数据和品牌运营能力。</h3>
                <p>第一，进货宝通过开放平台收集品牌厂商、零售终端的交易行为数据，通过数据分析为仓储物流、用户管理以及精准营销做导航。</p>
                <p>第二，进货宝采取品牌金字塔战略，塔基以标品零售为主，打造平台爆款；塔尖以自有品牌为主，形成品牌效应；塔腰以新品牌、新产品为主，鼓励中小品牌市场推广，推行新兴品牌成长计划。</p>
                <p>第三，进货宝三大生态体系：智能物流生态、互联网金融生态和软件服务生态。</p>
            </div>
        </div>
        <div class="item yewu">
            <div class="w1200">
                <h2>
                    <span class="cn-title">业务版图</span><br><span class="en-title">Business Layout</span>
                </h2>
                <div class="item-cont clearfix">
                    <div class="img-box">
                         <%= image_tag "newPC/about_us/map.png" + image_webp%>
                    </div>
                    <div class="text">
                        <p>2016年推行“合伙人计划”，将业务范围延伸至全国8省</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="content_b clearfix">

            <div class="content_words left" style="padding-bottom:80px;">
                <div class="top">
                    <h3><em>帮助中心</em>&nbsp;>关于进货宝</h3>
                </div>
                <div class="sm">
                    <h4 style="font-size:20px; text-align:center;">关于我们</h4>
                    <h4 style="font-size:20px;">概述：</h4>
                    <div class="content_wrod clearfix">
                        <div class="left" style="width:406px;">
                            <p>进货宝是一个专注“互联网+”渠道运营的移动社区商业B2B采购平台，是一个商务服务平台，是社区商业的伙伴平台。致力于直接链接品牌厂商和亿万社区小微商家，利用移动互联网技术，实现对传统流通领域的深刻变革，生产要素的高效重组。进货宝由两大核心、三大生态构成。两大核心：大数据能力和品牌能力；三大生态：智能物流生态、互联网金融生态和软件服务生态。</p>
                            <p>进货宝隶属于大卫之选信息技术（北京）股份有限公司（证券代码：834211 证券简称：大卫之选）。其兄弟单位还包括自有品牌大卫之选食品、线下体验店大卫之选咖啡馆</p>
                        </div>
                        <div class="logo_r left"></div>
                    </div>
                    <h4 style="font-size:20px;">基本信息栏：</h4>
                    <div>
                        <p>公司名称：进货宝 </p>
                        <p>外文名称：JinHuoBao</p>
                        <p>公司域名：www.jinhuobao.com.cn</p>
                        <p>公司口号：一机在手，进货无忧</p>
                        <p>成立时间：2015年9月</p>
                        <p>公司总部：中国北京</p>
                        <p>所属公司：大卫之选信息技术（北京）股份有限公司</p>
                    </div>
                    <h4 style="font-size:20px; margin-top:12px;">发展历程：</h4>
                    <div>
                        <p>2015年09月，进货宝平台网站ICP备案成功。</p>
                        <p>2015年10月，进货宝平台正式上线。</p>
                        <p>2015年10月，进货宝北京市昌平仓库正式投入运营。</p>
                        <p>2015年10月，进货宝与上百家品牌厂商达成战略合作协议。</p>
                        <p>2015年11月，进货宝母公司新三板成功上市。（证券代码：834211 证券简称：大卫之选）</p>
                        <p>2015年11月，进货宝大兴仓库投入运营。</p>
                        <p>2015年11月，进货宝安卓版APP上线。</p>
                        <p>2015年12月，进货宝月交易额首次突破2000万。</p>
                        <p>2016年01月，完成第一轮定增，3840万元。</p>
                        <p>2016年01月，进货宝启动“中国合伙人计划”。</p>
                        <p>2016年01月，iOS版产品登陆AppStore。</p>
                    </div>
                    <h4 style="font-size:20px; margin-top:12px;">创始人简介</h4>
                    <div class="content_wrod clearfix">
                        <div class="left" style="width:466px;">
                            <p>创始人 蒋治宇</p>
                            <p>毕业于中国传媒大学，硕士研究生学历；专注品牌管理及营销十余年，熟悉奢侈品、快速消费品的品牌运作营销管理。曾出任宣亚国际传播集团执行副总裁。在宣亚国际任职期间，创建品牌全传播团队，为国内外知名企业提供品牌整合营销服务，建立了一套完善的以销售为导向的品牌运营解决方案。2012创建大卫之选，于2015年11月登陆新三板。</p>
                        </div>
                        <div class="logo_r2 left"></div>
                    </div>
                    <h4 style="font-size:20px; margin-top:12px;">核心能力</h4>
                    <div class="content_wrod clearfix" style="margin-top:20px;">
                        <div class="left" style="width:466px;">
                            <p>进货宝的核心竞争优势总结来说有两点，数据和品牌运营能力。</p>
                            <p>第一，进货宝通过开放平台收集品牌厂商、零售终端的交易行为数据，通过数据分析为仓储物流、用户管理以及精准营销做导航。</p>
                            <p>第二，进货宝采取品牌金字塔战略，塔基以标品零售为主，打造平台爆款；塔尖以自有品牌为主，形成品牌效应；塔腰以新品牌、新产品为主，鼓励中小品牌市场推广，推行新兴品牌成长计划。</p>
                            <p>第三，进货宝三大生态体系：智能物流生态、互联网金融生态和软件服务生态。</p>
                        </div>
                        <div class="logo_r4 left"></div>
                    </div>
                    <h4 style="font-size:20px; margin-top:12px;">业务版图</h4>
                    <div class="content_wrod clearfix">
                        <div class="left">
                            <p>2015年实现北京市全覆盖。</p>
                            <p>2016年推行“合伙人计划”，将业务范围延伸至全国15省30个城市。</p>
                        </div>
                    </div>
                    <h4 style="font-size:20px; margin-top:12px;">企业文化</h4>
                    <div class="content_wrod clearfix" style="margin-top:20px;">
                        <div class="left" style="width:466px;">
                            <p>进货宝的使命和价值观：“你服务社区，我服务你”。进货宝相信互联网精神是让所有人拥有获得知识和信息的平等权利。创造“进货宝”平台也是为了帮助那些在移动互联网时代可能没有获得效益的社区小微商家，帮助他们获取信息权益和时代红利，让他们继续服务于社区和公众。</p>
                        </div>
                        <div class="logo_r5 left"></div>
                    </div>






                    <h4 style="font-size:20px;">1.1.我们是谁</h4>
                    <p>2015年10月，进货宝正式上线。</p>
                    <p>进货宝是一个专注“互联网+”渠道运营的移动社区商业B2B采购平台，是一个商务服务平台，是社区商业的伙伴平台。致力于直接链接品牌厂商和亿万社区小微商家，利用移动互联网技术，实现对传统流通领域的深刻变革，生产要素的高效重组。2015年10月，进货宝正式上线。</p>
                    <p>进货宝由两大核心、三大生态构成。两大核心：大数据能力和品牌能力；三大生态：智能物流生态、互联网金融生态和软件服务生态。</p>
                    <h4 style="font-size:18px; font-weight:600; margin-top:10px;">1.2.我们服务谁</h4>
                    <p>“进货宝”是我们开发的一个商务服务平台，把生产端的生产企业进行集合，形成对社区小微商业的支持，小微商业的业主可以拿到一级经销商的进货价格，摆脱一切中间商的盘剥；</p>
                    <p>通过“进货宝”这个社区小微商业供货平台，他们可以查找最优惠的正品进货渠道，摆脱自营超市进货的难题，可以从辛劳的自主进货流程中解脱；</p>
                    <p>他们可以通过智能手机或者电脑，看到“进货宝”非常简单的界面，把自己的货品管理起来，什么卖的好，什么货滞销，什么脱销需要补货，靠数据管理运营，一目了然。</p>
                    <p>他们可以通过进货宝24小时随时下单，并且可以享受进货宝平台平台特卖产品。</p>
                    <p>“进货宝”品牌如果是一个人的话，他将对对全国的所有社区小微商业业主说：“你服务于社区，我服务于你。”</p>
                    <p>是的，就这么简单，这么直接；而且与社区小微商铺一样，靠谱，亲近，有人情味。</p>

                    <h4 style="font-size:18px; font-weight:600; margin-top:10px;">1.3.我们提供怎样的服务</h4>
                    <p>进货宝平台提供食品饮料、日化用品、粮油等一系列产品，商品价格便宜30%。</p>
                    <p>我们建立了用户征信体系，推出一系列金融信贷服务，解决B2B两端用户在商业运营中的贷款问题，构建更为良性的小微商业生态；</p>
                    <p>我们创造性开发了“赫尔墨斯”营销工具，帮助中心品牌进行营销和销售管理；</p>
                    <p>我们研发了了进货泡泡和进货管家狗等一系列软件，为小微商家提供智能化的ERP和CRM工具；</p>
                </div>
            </div>
        </div> -->
    </div>

