<!-- 团队介绍 -->
<%= stylesheet_link_tag  'pc/help_center'%>
    <div class="top-img team">
    </div>
    <div class="team-box w1200">
        <div class="team_cont_box">
            <div class="team_cont clearfix">
                <div class="team_userimg l_img fl">
                    <%= image_tag "help_center/team_jzy.jpg" + image_webp, class: "" %>
                </div>
                <div class="team_text r_text">
                  <h4 class="user_name">蒋治宇</h4>
                  <p class="job">创始人 兼董事长</p>
                  <p>2001年毕业于国关本科法语专业，2014年毕业于中国传媒大学，研究生学历中欧商学院EMBA于2016年6月毕业。</p>
                  <p>曾专注品牌管理及营销十余年，历任客户总监、副总经理、执行副总裁，专注快消、奢侈品、汽车、通讯、互联网行业，熟悉奢侈品、快速消费品的品牌运作营销管理。</p>
                  <p>2014年12月-2015年9月任北京大卫之选电子商务有限公司首席执行官。<br>2015年10月至今任大卫之选信息技术（北京）股份有限公司创始人兼董事长。</p>
                </div>
            </div>
            <div class="team_cont clearfix">
                <div class="team_userimg l_img fr">
                    <%= image_tag "help_center/team_wc.jpg" + image_webp, class: "" %>
                </div>
                <div class="team_text l_text">
                  <h4 class="user_name">王成</h4>
                  <p class="job">首席执行官（CEO)</p>
                  <p>17年快消品行业工作经验，先后就职于雀巢、麒麟、喜力等国际知名快消品企业，历任区域经理，全国销售总监。</p>
                  <p>曾经创造过5年业绩成长11倍，3年将市场份额从第六上升到第一位的骄人战绩。特别擅长销售管理，公司内部整合以及大客户管理。</p>
                </div>
            </div>
            <div class="team_cont clearfix">
                <div class="team_userimg l_img fl">
                    <%= image_tag "help_center/team_wy.jpg" + image_webp, class: "" %>
                </div>
                <div class="team_text r_text">
                    <h4 class="user_name">王晔</h4>
                    <p class="job">首席财务官（CFO）</p>
                    <p>22年财务相关工作经验,10年毕马威（KPMG）会计师事务所工作经验,服务客户包括: 中国人保、中国电信、GE、西门子、摩托罗拉、雀巢、汉高、辉瑞制药、电通广告、王府饭店、鹿王羊绒、八喜冰淇淋等。</p>
                    <p>10年外企工作经验，参与公司设立亚洲财务共享服务中心，并领导中国流程优化、再造、SAP及报销系统上线、银行业务优化等。</p>
                    <p>美国注册管理会计师，高级国际管理会计师，通过英国皇家特许管理会计师和全球管理会计师考试。</p>
                </div>
            </div>
            <div class="team_cont clearfix">
                <div class="team_userimg l_img fr">
                    <%= image_tag "help_center/team_ljx.jpg" + image_webp, class: "" %>
                </div>
                <div class="team_text l_text">
                    <h4 class="user_name">刘金星</h4>
                    <p class="job">首席营销官（CMO）</p>
                    <p>刘金星（Venus Liu）先生是公司的联合创始人之一，曾历任公司营销总监、副总经理。</p>
                    <p>在品牌营销领域逾十年经验；前宣亚国际执行创意总监，前蓝色光标电商副总裁，大卫之选联合创始人兼CMO。</p>
                    <p>国内外ONESHOW、金投赏等广告公关类奖项获得者。</p>
                </div>
            </div>
            <div class="team_cont clearfix">
                <div class="team_userimg l_img fl">
                    <%= image_tag "help_center/team_zsm.jpg" + image_webp, class: "" %>
                </div>
                <div class="team_text r_text">
                    <h4 class="user_name">仲昭明</h4>
                    <p class="job">首席供应链官（CSCO）</p>
                    <p>仲昭明（Alex Zhong）先生是公司联合创始人之一，曾历任公司采购总监、仓运总监、副总经理等职务。</p>
                    <p>对早期拓展、中期组织发展变革、以及物流系统的搭建，做出了杰出贡献。</p>
                </div>
            </div>
            <div class="team_cont clearfix">
                <div class="team_userimg l_img fr">
                    <%= image_tag "help_center/team_zy.jpg" + image_webp, class: "" %>
                </div>
                <div class="team_text l_text">
                    <h4 class="user_name">张洋</h4>
                    <p class="job">董事会秘书</p>
                    <p>张洋（Doris Zhang）女士是公司早期员工之一，曾历任公司公关经理、总监及副总经理。</p>
                    <p>参与实施公司组织架构管理以及资本市场运作，为公司的发展与壮大做出了巨大贡献。</p>
                </div>
            </div>
            <div class="team_cont clearfix">
                <div class="team_userimg l_img fl">
                    <%= image_tag "help_center/team_zxy.jpg" + image_webp, class: "" %>
                </div>
                <div class="team_text r_text">
                    <h4 class="user_name">张晓宇</h4>
                    <p class="job">首席人力资源官（CHO）</p>
                    <p>本科就读于天津大学，获电子信息工程/英语双学士学位。研究生毕业于中国人民大学商学院，MBA。</p>
                    <p>曾就职于摩托罗拉、天士力集团、LG集团、德国威能等多家中外企业，在人力资源专项职能和全模块运营中历任经理、项目负责人、总监等管理岗位，具有10多年带领团队、协同业务、组织变革的实践管理经验。</p>
                    <p>在人才招募、薪酬激励、培训发展、教练辅导等管理咨询服务领域，为多家中外资企业提供快速有效的人力资源解决方案与公司人事行政管理咨询服务，拥有丰富的经验。</p>
                </div>
            </div>
        </div>
    </div>

