<!-- 团队介绍 -->
<%= javascript_include_tag 'pc/index'%>
<%= javascript_include_tag 'pc/buycart_edit'%>
<%= stylesheet_link_tag  'pc/help_center'%>
<style type="text/css">
    *{

    }
</style>
    <div class="content w990">
        <%= render 'slogan' %>
        <div class="content_b clearfix">
            <%= render 'sub_nav_left' %>
            <div class="content_words left" style="padding-bottom:80px;">
                <div class="top">
                    <h3><em>帮助中心</em>&nbsp;>关于进货宝</h3>
                </div>
                <div class="sm">
                    <div class="way-box">
                        <h4 style="font-size: 20px;text-align:center;">关于下发《大卫之选红线管理办法》的通知</h4>
                        <p>为了推动大卫之选信息技术（北京）股份有限公司及其相关业务发展有法可依，有法必依，特制定《大卫之选红线管理办法》，即处罚红线。本办法所规定红线是指员工在工作中因主观故意行为或因不尽职给公司造成（或可能造成）严重经济损失或给公司形象造成恶劣影响的行为。</p>
                        <p>成立公司监察委员会，由大卫之选信息技术（北京）股份有限公司CEO王成任监察委员会主任，CFO王晔、CHO张晓宇、CSO仲昭明、董事会秘书张洋任委员会成员。监察委员会主要负责《大卫之选红线管理办法》的草拟和修订，负责对本办法执行情况进行监督检查，受理对违反本办法人员的举报，负责对事件的组织调查，执行委员会的处理决定，推进“阳光里”计划落地执行。</p>
                        <p>公司开设申诉举报通道，所有员工及合作伙伴都有权对各类违规行为进行实名举报。公司监察委员会将对举报人信息保密，开展调查。</p>
                            <p>1.  可登录微信企业号“进货宝赤子军团“，在右下方的“赤子说”中的“申诉建议”进行情况反映</p>
                            <p>2.  可邮件发送至公司监察委员专用邮箱：<a href="mailto:yangguangli@davidchoice.com" style="color: red;">yangguangli@davidchoice.com</a>，对事实情况予以说明</p>
                            <p>3.  或拨打电话<a href="tel:13366343997" style="color:red;">13366343997</a> ，联系公司监察委员会成员张晓宇，对相关情况进行申诉举报</p>
                        <p>本办法由大卫之选监察委员会负责解释与修订。即日起生效。</p>
                        <p style="text-align: right;">大卫之选监察委员会</p>
                        <p style="text-align: right;">2016年6月1日</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
